.fourthRow {
    background-color: #0E6BA8;
    margin-top: -22px;
    padding-bottom: 6vh;
}

.article {
    background-color: white;
    width: 20vw;
    margin: 1em;
    font-family: 'IBM Plex Sans';
    font-size: 16px;
}

.custom-img {
    border: 1em solid black;
    width: inherit;
    height: 35vh;
}

.card-group {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 900px) {
    .article {
        width: 30vw;
    }
  }

@media (max-width: 630px) {
    .article {
        width: 30vw;
    }
  }

@media (max-width: 580px) {
  .article {
      width: 50vw;
  }
  .card-group {
    display: grid;
    align-items: center;
    justify-content: center;
}
}