.thirdRow {
    background-color: #0A2472;
}

.grid-container-mf {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 1px;
}

.grid-item-mf {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.title {
    background-color: black;
    width: 25vw;
    padding: 68px;
    margin: 0px;
}

.title-mf {
    padding-top: 4vh;
    font-size: 47px;
    font-family: 'Source Serif Pro';
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);   
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.container-mf {
    background-color: rgb(5, 5, 41);
    width: 30vw;
    padding: 68px;
    margin: 0px;
    font-family: 'IBM Plex Sans';
    font-size: 28px;
    color: white;
    text-align: left;
}


  @media (max-width: 1200px) {
    .grid-container-mf {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    
    .title {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    .container-mf {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
  }

