.secondRow {
    background-color: #0E6BA8;
    margin-top: -22px;
}

.header{
    text-align: center;
}

.header h1{
    padding-top: 4vh;
    font-size: 47px;
    font-family: 'Source Serif Pro';
    background-image: linear-gradient(to right top, #ffffff, #ebe9fb, #d5d3f7, #bdbef4, #a3aaf0);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.header p{
    text-align: center;
    max-width: 85em;
    margin: 0 auto;
    color: white;
    font-size: 22px;
    font-family: 'IBM Plex Sans';
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.grid-item p {
  color: white;
  font-size: 22px;
  font-family: 'IBM Plex Sans';
}

.stats {
    width: 18em;
    height: 25em;
}

  @media (max-width: 1150px) {
    .img1 {
      width: 100%;
      max-width: 300px;
      height: auto;
    }

    .img2 {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }

  @media (max-width: 1200px) {
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
  }

  @media (max-width: 500px) {
    .stats {
        width: 14em;
        height: 20em;
    }
  }
