@media screen {
.title-text-about{
    color: black;
}

.header-image img {
    position: relative;
    width: 15em;
}

.donate-now img {
    width: 0.75em;
}

.donate-now button {
    position: relative;
    margin-left: 42%;
    margin-top: 15px;
    padding-bottom: 2.5px;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    font-weight: normal;
    background-color: black;
    border-radius: 5px;
    border-width: 0px;
}

.header-text-column {
    flex: 60%;
    height: fit-content;
    padding-top: 1em;
    font-size: 1em;
}

.header-else-column{
    flex: 30%;
    height: fit-content;
    padding-top: 0.5em;
    font-size: 1em;
}

.button-homepage{
    margin-top: 5px;
    margin-left: 40%;
}

}