.wrapper {
  background-color: #6CB5CB;
  height: 60em;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 40%;
  height: 25em;
  padding-top: 2em;
}

.contacts {
    padding-left: 7em;
}

.black-title-emg {
 background-color: #00072D;
 font-size: 47px;
  font-family: 'Source Serif Pro';
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.blue-title-emg {
  background-color: #2644648C;
  font-size: 47px;
  font-family: 'Source Serif Pro';
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.navButtonsContainer {
  border-radius: .5em;
  width: 82%;
  justify-content: space-between;
  display: flex;
  position: absolute;
  top: 850px;
  left: 115px;
}

.navButtons {
  width: 327px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  height: 100px;
  text-align: center;
  background-color: #76C893;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}


.call {
  font-family: 'IBM Plex Sans';
  font-size: 28px;
}

.more-contacts {
  font-family: 'IBM Plex Sans';
  font-size: 25px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    padding-right: 4em;
}

.img1-emergency {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 500px;
    height: auto;
    padding-left: 30%;
  }

   (max-width: 1515px) {
    .wrapper {
      height: 47em;
    }
  }

   (max-width: 1184px) {
    .wrapper {
      height: 52em;
    }
  }

   (max-width: 1135px) {
    .wrapper {
      height: 58em;
    }
  }

   (max-width: 990px) {
    .wrapper {
      height: 64em;
    }
  }

   (max-width: 990px) {
    .wrapper {
      height: 64em;
    }
  }

   (max-width: 960px) {
    .contacts {
      padding-left: 1.5em;
      padding-top: 2em;
    }
    .img1-emergency {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
      height: auto;
      padding-left: 10%;
    }
    .row {
      flex-direction: column;
    }
    .wrapper {
      height: 57em;
    }
    .column {
      padding-top: 0em;
    }
    .parent {
      padding-top: 1em;
    }
  }

   (max-width: 880px) {
    .wrapper {
      height: 64em;
    }
  }

   (max-width: 700px) {
    .wrapper {
      height: 72em;
    }
  }