.img1-emergency img{
    display: block;
    width: 15em;
    height: auto;
    margin-left: 10em;
    margin-top: 2em;
  }

.navigateTo {
  font-family: 'Source Serif Pro';
  font-size: 1.5em;
  color:black;
  font-weight: bold;
}

.navigateTo a {
    color: black;
    font-weight: bold;
    display: block;
}