.thirdRow {
    background-color: #168AAD;
    height: 71vw;
    padding-left: 10px;
}

.grid-container-mf {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 1px;
}

.grid-item-mf {
    padding: 20px;
    font-size: 20px;
    text-align: left;
}

.title-sec {
    background-color: #6CB5CB;
    width: 25vw;
    height: 64vw;
    padding: 50px;
    margin: 0px;
}

.title-mf {
    text-align: center;
    padding-top: 4vh;
    font-size: 47px;
    font-family: 'Source Serif Pro';
    background: #00072D;   
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.black-title-mf {
    padding-top: 4vh;
    font-size: 47px;
    font-family: 'Source Serif Pro';
    background: #00072D;  
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.blue-title-mf {
    padding-top: 4vh;
    font-size: 47px;
    font-family: 'Source Serif Pro';
    background: #00072DA6;  
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.container-mf {
    background-color: #6CB5CB78;
    width: 30vw;
    height: 64vw;
    padding: 20px 30px 20px 30px;
    margin: 0px;
    font-family: 'IBM Plex Sans';
    font-size: 28px;
    color: #00072D;
    text-align: left;
}


  @media (max-width: 1200px) {
    .grid-container-mf {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    
    .title-sec {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    .container-mf {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
  }

