@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Montserrat&family=Source+Serif+Pro:wght@700&display=swap');
.activities-page {
    text-align: center;
    font-size: larger;
    height: fit-content;
    max-height: fit-content;
  }
  
  .header-text{
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'IBM Plex Sans';
    font-weight:600;
  }

  .header-text h1{
    font-family: 'Source Serif Pro';
  }

  .practices-container {
    background-color: #B8E6AE;
    justify-content: center;
    color: #4F8F66;
    padding-bottom: 3vh;
    padding-top: 3vh;
  }

  .practices-container p{
    color: black;
  }
  
  .practices-container a{
    color: #168AAD;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: medium;
  }

  .body{
    display: flex;
    justify-content: space-evenly;
  }
  
  .activities-card{
    width: 25vw;
    height: fit-content;
    border-radius: 10px;
    color: black;
    background-color: #76C893;
    font-family: 'Montserrat';
    font-size:large;
    padding: 1rem 1rem;
  }
  
  .activities-card h3{
    color: black;
    font-weight: bold;
    font-size: larger;
  }

  .meditation-container {
    background-color: #71BCBE;
    justify-content: center;
    color: #168AAD;
    padding-top: 3vh;
  }

  .meditation-card{
    width: 25vw;
    height:fit-content;
    color: black;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
  }

  iframe {
    width: 100%;
    min-height: 20vh;
  }

  .meditation-card p{
    font-weight: bold;
  }
  
  .meditation-container p{
    color: black;
  }

  /*
  .quizzes-body{
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .quizzes-container {
    background-color: #168AAD;
    justify-content: center;
    color:#001C55;
    padding-bottom: 3vh;
    padding-top: 3vh;
  }

  .quizzes-container p {
    color: black;
  }

  .quizzes-card{
    width: 40vw;
    height: fit-content;
    color: white;
    background-color: #001C55;
    font-family: 'Montserrat';
    font-size: large;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 1rem;
  }
  
  .quizzes-card p {
    color: white;
  }

  .quizzes-card a{
    color: white;
    font-weight: bold;
    font-size: medium;
  }

  .quizzes-card h3{
    font-weight: bold;
  }

  