@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Montserrat&family=Source+Serif+Pro:wght@700&display=swap');
.activities-page {
    text-align: center;
  }
  
  .practices-container {
    background-color: #B8E6AE;
    justify-content: center;
    color: #4F8F66;
    padding-bottom: 5vh;
    padding-top: 5vh;
  }
  
  .header-text{
    padding-left: 30%;
    padding-right: 30%;
  }

  .header-text h1{
    font-family: 'Source Serif Pro';
  }

  .header-text p{
    font-family: 'IBM Plex Sans';
    font-weight:600;
  }

  .practices-container p{
    color: black;
    padding: 3px;
    
  }
  
  .practices-container a{
    color: black;
    font-weight: bold;
    font-family: 'Montserrat';
    padding: 3px;
  }

  .body{
    display: flex;
    justify-content: space-evenly;
  }
  
  .activities-card{
    width: 30rem;
    height: 15rem;
    border-radius: 10px;
    color: black;
    background-color: #76C893;
    margin: 10px;
    justify-content: space-evenly;
    display:flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size:medium;
  }
  
  .meditation-container {
    background-color: #71BCBE;
    justify-content: center;
    color: #168AAD;
    padding-bottom: 5vh;
    padding-top: 5vh;
  }

  .meditation-card{
    width: 30rem;
    height: 20rem;
    color: black;
    margin: 0px;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .meditation-card p{
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0%;
  }
  
  .meditation-container p{
    color: black;
  }
  
  .quizzes-container {
    background-color: #168AAD;
    display: inline-block;
    justify-content: center;
    color:black;
    padding-bottom: 5vh;
    padding-top: 5vh;
    width: 100%;
  }
  
  .quizzes-card{
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 10px;
  }
  
  .quizzes-card p {
    color: #6CB5CB;
    line-height: 10px;
  }

  .quizzes-card-header {
    display:flex;
    justify-content:space-between;
    align-items: center;
  }

  .quiz-title{
    display:inline;
  }

  