.activities-page {
    text-align: center;
  }
  
  .practices-container {
    background-color: #B8E6AE;
    display: inline-block;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #76C893;
    padding-bottom: 10px;
  }
  
  .header-text{
    padding-left: 200px;
    padding-right: 200px;
  }
  .practices-container p{
    color: black;
    font-size: calc(8px + 2vmin);
  }
  
  .body{
    display: flex;
    justify-content: center;
  }
  
  .card{
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
    margin: 5px;
  }
  
  .meditation-container {
    background-color: #71BCBE;
    display: inline-block;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #168AAD;
    padding-bottom: 10px;
  }
  
  .meditation-container p{
    color: black;
    font-size: calc(8px + 2vmin)
  }
  
  .quizzes-container {
    background-color: #168AAD;
    display: inline-block;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:black;
    padding-bottom: 10px;
  }
  
  .quizzes-card{
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
  }
  
  .quizzes-card p {
    color: #6CB5CB;
    line-height: 10px;
  }