.activities-page {
    text-align: center;
  }
  
  .practices-container {
    background-color: #B8E6AE;
    display: inline-block;
    justify-content: center;
    color: #76C893;
    padding-bottom: 5vh;
    padding-top: 5vh;
  }
  
  .header-text{
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .practices-container p{
    color: black;
  }
  
  .body{
    display: flex;
    justify-content: center;
  }
  
  .activities-card{
    width: 30vw;
    height: 30vh;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
    margin: 10px;
    justify-content: space-evenly;
    display:flex;
    flex-direction: column;
  }
  
  .meditation-container {
    background-color: #71BCBE;
    display: inline-block;
    justify-content: center;
    color: #168AAD;
    padding-bottom: 5vh;
    padding-top: 5vh;
  }

  .meditation-card{
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
    margin: 10px;
    justify-content: space-evenly;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .meditation-container p{
    color: black;
  }
  
  .quizzes-container {
    background-color: #168AAD;
    display: inline-block;
    justify-content: center;
    color:black;
    padding-bottom: 5vh;
    padding-top: 5vh;
    width: 100%;
  }
  
  .quizzes-card{
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 10px;
  }
  
  .quizzes-card p {
    color: #6CB5CB;
    line-height: 10px;
  }

  .quizzes-card-header {
    display:flex;
    justify-content:space-between;
    align-items: center;
  }

  .quiz-title{
    display:inline;
  }

  