@media screen {
.blueGrey{
    color: rgba(0, 7, 45, 0.65);
}

.darkBlue{
    color: rgba(0, 7, 45, 1);
}

.containerHome{
    background: rgba(108, 181, 203, 1);
    position: absolute;
    font-family: 'source serif pro';
    text-align: left;
    padding-left: 100px;
    padding-top: 25px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    display: inline;
    height: 300px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.9em;
    z-index: -1;
}

.headerImg img {
    position: relative;
    width: 300px;
    left: 850px;
    top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.aboutContainerHome h2 {
    position: relative;
    margin: 0px;
    width: 20px;
    box-sizing: border-box;
    height: 25px;
    left: 200px;
    top: 125px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;

    color: #00072D;
}

.aboutContainerHome p {
    position: relative;
    padding-left: 200px;
    width: 85%;
    top: 145px;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
}

.bold{
    font-weight: bold;
}

.donateButtonHome{
    position: absolute;
    top: 325px;
    width: 100%;
    background: #168AAD;
}

.donateButtonHome p {
    position: absolute;
    top: 10px;
    width: 100%;
    padding-left: 100px;
    text-align: left;
    color:rgba(0, 7, 45, 1);
}

.donateButtonHomeBUTTON {
    text-align: right;
}

.donateButtonHomeBUTTON button {
    position: relative;
    width: 30%;
    height: 50px;
    background:#9CD7B1;
    border: 0px;
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    font-size: 25px;
    color: rgba(15, 31, 44, 1);
    text-align: center;
}
.donateButtonHome img {
    position: absolute;
    width: 23px;
    padding-left: 4px;
    top: 15px;
}
.middleAndBackTextHome {
    position: relative; 
    top: 250px;
    box-sizing: border-box;
    left: 0px;
    right: 0px;
    margin: 0px;
    height: 400px;
    background: #9CD7B1;
    text-align: center;
    z-index: -1;
}
.middleAndBackTextHome h2 {
    padding-top: 85px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
}
.middleAndBackTextHome p{
    padding-top: 3px;
    width: 750px;
    padding-left: 510px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.readMoreMiddle button {
    padding-top: 108px;
    border: none;
    background-color: #9CD7B1;
    text-decoration: underline;
    font-family: 'IBM Plex Sans';
}
.leftTextHome {
    position: absolute; 
    top: 980px;
    left: 125px;
    width: 25%;
    height: 282px;
    font-family: 'Montserrat';
    background: #B8E6AE;
    text-align: center;
    border-radius: 10px;
}
.leftTextHome h2 {
    font-size: 25px;
    padding-top: 10px;
}
.leftTextHome p{
    padding-top: 3px;
    padding-left: 35px;
    width: 280px;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
.readMoreLeft button {
    padding-top: 0px;
    border: none;
    background-color: #B8E6AE;
    text-decoration: underline;
    font-weight: normal;
    font-family: 'IBM Plex Sans';
}
.rightTextHome {
    position: absolute; 
    top: 980px;
    right: 125px;
    width: 25%;
    height: 282px;
    font-family: 'Montserrat';
    background: #B8E6AE;
    text-align: center;
    border-radius: 10px;
}
.rightTextHome h2 {
    font-size: 25px;
    padding-top: 10px;
}
.rightTextHome p{
    padding-top: 3px;
    padding-left: 35px;
    width: 280px;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
.readMoreRight button {
    padding-top: 1px;
    border: none;
    background-color: #B8E6AE;
    text-decoration: underline;
    font-weight: normal;
    font-family: 'IBM Plex Sans';
}
}