@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.container-support {
    padding-left: 0px;
}

html {
    scroll-behavior: smooth;
    height: auto;
    width: 100%;
}

.top-container {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    background-color:#6CB5CB;
}

@media screen and (max-width: 1500px) {
    .top-container {
        flex-direction: row;
    }
    
    .bottom-container {
        flex-direction: row;
    }

    .content-text {
        padding-right: 70px !important;
    }
}

.donate {
    height: 100%;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

.merch {
    min-height: 900px;
    background-color:#6CB5CB;
}

.left {
    width: 50%;
}

.right {
    position: relative;
    width: 50%;
}


.donate h1 {
    position: relative;
    height: 88px;
    left: 70px;
    top: 15vh;
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
    font-size: calc(60px + 0.5vw);
    line-height: 88px;
}

.content-text {
    position: relative;
    top: 275px;
    margin-bottom: 70px;
    padding-left: 70px;
    padding-right: 20px;
}

.content-text p {
    font-size: calc(14px + 0.1vw);
}

.content-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(18px + 0.5vw);
    padding-bottom: 3px;
}

.merch h1 {
    position: relative;
    left: 70px;
    top: 50px;
    vertical-align: baseline;
    font-weight: bold;
    font-size: 80px;
}

.color1 {
    color: #168AAD;
}

.color2 {
    color:#34A0A4;
}

.color3 {
    color: #6CB5CB
}
