@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Montserrat&family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap');

.black-title {
    color: black;
  }
  
.blue-title {
    color: #2644648C;
}

.title-text {
    font-size: 35px;
    font-weight: bold;
}

.light-blue-background {
    background: #6CB5CB;
}

.dark-blue-background {
    background: #168AAD;;
}

.wrapper {
    height: fit-content;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    font-family: 'Source Serif Pro';
}

.column {
    flex: 50%;
    height: fit-content;
    padding-top: 1em;
}

.column p {
    font-size: 1em;
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.list {
    font-family: 'Source Serif Pro';
    font-size: 1em;
}
