@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Montserrat&family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap');

.black-title {
    color: #00072D;
  }
  
.blue-title {
    color: #2644648C;
}

.title-text {
    font-size: 35px;
    font-weight: bold;
}

.light-blue-background {
    background: #6CB5CB;
}

.dark-blue-background {
    background: #168AAD;;
}

.wrapper {
    height: 36em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    font-family: 'Source Serif Pro';
}

.column {
    flex: 50%;
    height: fit-content;
    padding-top: 1em;
}

.header-image img {
    position: relative;
    width: 80%;
    padding-right: 4em;
}

.h2 {
    font-size: 25em;
    color: black;
}

.p {
    font-size: 20em;
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.donateButtonHome{
    position: relative;
    width: 100%;
}

.donate-now img {
    width: 23px;
}

.donateButtonHomeBUTTON {
    text-align: right;
}

.donateButtonHomeBUTTON button {
    position: relative;
    width: 100%;
    background:#9CD7B1;
    border: 0px;
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    font-size: 25px;
    color: rgba(15, 31, 44, 1);
    text-align: center;
}

.call {
    font-family: 'IBM Plex Sans';
    font-size: 25px;
    color:black;
  }
  
  .navigateToText {
    color: black;
    text-decoration: underline 2px solid black;
  }