@media screen {
.middleAndBackTextHome {
    position: relative; 
    top: 250px;
    box-sizing: border-box;
    left: 0px;
    right: 0px;
    margin: 0px;
    height: 400px;
    background: #9CD7B1;
    text-align: center;
    z-index: -1;
}
.middleAndBackTextHome h2 {
    padding-top: 77px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
}
.middleAndBackTextHome p{
    padding-top: 3px;
    width: 750px;
    padding-left: 510px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.readMoreMiddle button {
    padding-top: 108px;
    border: none;
    background-color: #9CD7B1;
    text-decoration: underline;
    font-family: 'IBM Plex Sans';
}
.leftTextHome {
    position: absolute; 
    top: 980px;
    left: 125px;
    width: 25%;
    height: 282px;
    font-family: 'Montserrat';
    background: #B8E6AE;
    text-align: center;
    border-radius: 10px;
}
.leftTextHome h2 {
    font-size: 25px;
    padding-top: 10px;
    font-weight: bold;
}
.leftTextHome p{
    padding-top: 3px;
    padding-left: 35px;
    width: 280px;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
.readMoreLeft button {
    padding-top: 0px;
    border: none;
    background-color: #B8E6AE;
    text-decoration: underline;
    font-weight: normal;
    font-family: 'IBM Plex Sans';
}
.rightTextHome {
    position: absolute; 
    top: 980px;
    right: 125px;
    width: 25%;
    height: 282px;
    font-family: 'Montserrat';
    background: #B8E6AE;
    text-align: center;
    border-radius: 10px;
}
.rightTextHome h2 {
    font-size: 25px;
    padding-top: 10px;
    font-weight: bold;
}
.rightTextHome p{
    padding-top: 3px;
    padding-left: 35px;
    width: 280px;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}
.readMoreRight button {
    padding-top: 1px;
    border: none;
    background-color: #B8E6AE;
    text-decoration: underline;
    font-weight: normal;
    font-family: 'IBM Plex Sans';
}
}