@media screen {
.header-image img {
    position: relative;
    width: 20em;
}

.donate-now img {
    width: 0.75em;
}

.donate-now button {
    width: 20em;
    background:#9CD7B1;
    font-size: 1.5em;
}

}