@media screen {
.supportBottomContainer {
    width: screen;
}

.teddy {
    position: absolute;
    top: 83vw;
}

.box {
    border-radius: 0px;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    left: 70px;
    top: 180px;
    border-radius: 0px;
}

.grid {
    width: 89vw;
}

.itemPics
{
    max-height: 45%;
    min-height: 45%;
    position: center;
    border-radius: 0px;
}

.counterStyle {
    margin-bottom: 8px;
}

.button {
    background-color: black;
    font-weight: bold;
    color: white;
    border-radius: 0px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    background-color: black;
}

.checkoutButton button{
    position: relative;
    top: 225px;
    left: 42.5vw;
    padding-bottom: 2.5px;
    width: 180px;
    height: 50px;
    font-size: 28px;
    color: white;
    font-weight: normal;
    background-color: black;
    border-radius: 5px;
    border-width: 0px;
}
}