@media screen {
    .supportBottomContainer {
        width: screen;
    }

    .box {
        border-radius: 0px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
        position: relative;
        border-radius: 0px;
    }

    .grid {
        width: 100%;
        flex-basis: 100%;
        align-items: center;
        gap: 1rem;
    }

    .itemPics
    {
        max-height: 45%;
        min-height: 45%;
        position: center;
        border-radius: 0px;
    }

    .counterStyle {
        margin-bottom: 8px;
    }

    .button {
        background-color: black;
        font-weight: bold;
        color: white;
        border-radius: 0px;
        align-self: center;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(1);
        background-color: black;
    }

    .checkoutButton button{
        position: relative;
        margin-left: 30vw;
        padding-bottom: 2.5px;
        align-items: center;
        width: 180px;
        height: 50px;
        font-size: 20px;
        color: white;
        font-weight: normal;
        background-color: black;
        border-radius: 5px;
        border-width: 0px;
    }
}