@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.MyCart-container{
    position: relative;
    width: 50vw;
    height: 50vh;
    left: 5vw;
    top: 10vh;

    background: #ffff;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.MyCart-divider{
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.MyCart-cost-summary{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.green-text{
    color: #76C893;
}
