@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@media screen {
.MyCart-container{
    position: relative;
    top: 20px;
    height: 280px;
    width: 85%;
    background: #ffff;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    left: 80px;
}

.MyCart-divider{
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.MyCart-cost-summary{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.green-text{
    color: #76C893;
}

.items-container {
    margin-bottom: -100px;
}

.itemPics {
    height: 250px;
}

.checkOutButton {
    left: 1000px;
}

.row button{
    top: 10px;
    margin: 5px;
}

.shopCheckoutForm {
    position: relative;
    left: 0px;
}
}