.grid {
    width: 700px;
    border-radius: 0px 0px 0px 0px;
 }

.box {
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    left: 70px;
    top: 225px;
}

.itemPics
{
    max-height: 50%;
    min-height: 50%;
    position: center;
    border-radius: 0px 0px 0px 0px;
}

.counterStyle {
    margin-bottom: 8px;
}

.button {
    background-color: black;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    background-color: black;
}
